<div class="bd-toc-item bg-fff about_author">
  <h2><a class="bd-toc-link" href="#">About the Author </a></h2>
  <div class=" d-flex flex-column">
    <div class="media media-aside pt-2 d-flex justify-content-around">
      <%= image_tag('Layer 28.png', class: "author_foto align-self-center mr-3") %>
      <div class="media-body">
        <p class="mt-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dolorem nam neque praesentium. Amet debitis dicta distinctio, eius eligendi incidunt nostrum perferendis placeat quasi, repellendus sint sit temporibus vitae voluptatum!</p>
      </div>
    </div>
  </div>
</div>