<div class="bd-toc-item bg-fff advertısement ">
  <a class="bd-toc-link" href="#">Advertısement </a>
  <div class=" d-flex flex-column wrap_post_top">
    <div class="media media-aside pt-2">
      <%= image_tag('Layer 16.png', class: "align-self-center mr-3") %>
    </div>
    <div class="media media-aside pt-2">
      <%= image_tag('Layer 16.png', class: "align-self-center mr-3") %>
    </div>
  </div>
</div>