<div class="bd-toc-item bg-fff archıves ">
  <a class="bd-toc-link" href="#">archıves </a>
  <div class=" d-flex flex-column wrap_post_top">
    <div class="media media-aside mr-2">
      <div class="media-body">
        <a href="#"><span>October 2010</span></a>
      </div>
    </div>
    <div class="media media-aside mr-2">
      <div class="media-body">
        <a href="#"><span>October 2010</span></a>
      </div>
    </div>
    <div class="media media-aside mr-2">
      <div class="media-body">
        <a href="#"><span>October 2010</span></a>
      </div>
    </div>
    <div class="media media-aside mr-2">
      <div class="media-body">
        <a href="#"><span>October 2010</span></a>
      </div>
    </div>
    <div class="media media-aside mr-2">
      <div class="media-body">
        <a href="#"><span>October 2010</span></a>
      </div>
    </div>
    <div class="media media-aside mr-2">
      <div class="media-body">
        <a href="#"><span>October 2010</span></a>
      </div>
    </div>
    <div class="media media-aside mr-2">
      <div class="media-body">
        <a href="#"><span>October 2010</span></a>
      </div>
    </div>
    <div class="media media-aside mr-2">
      <div class="media-body">
        <a href="#"><span>October 2010</span></a>
      </div>
    </div>
    <div class="media media-aside mr-2">
      <div class="media-body">
        <a href="#"><span>October 2010</span></a>
      </div>
    </div>
    <div class="media media-aside mr-2">
      <div class="media-body">
        <a href="#"><span>October 2010</span></a>
      </div>
    </div>
  </div>
</div>