<div class="bd-toc-item bg-fff recent_comment">
  <a class="bd-toc-link" href="#">Recent Comme</a>
  <div class=" d-flex flex-column wrap_post_top">
    <div class="media media-aside pt-2">
      <div class="media-body">
        <p class="mt-0"><span>Violet:</span>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>

      </div>
    </div>
    <div class="media media-aside pt-2">
      <div class="media-body">
        <p class="mt-0"><span>Violet:</span>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>

      </div>
    </div>
    <div class="media media-aside pt-2">
      <div class="media-body">
        <p class="mt-0"><span>Violet:</span>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>

      </div>
    </div>
    <div class="media media-aside pt-2">
      <div class="media-body">
        <p class="mt-0"><span>Violet:</span>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>

      </div>
    </div>
  </div>
</div>