<div class="bd-toc-item bg-fff search">
  <a class="bd-toc-link" href="#">search</a>
  <div class=" d-flex flex-column wrap_post_top">
    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
  </div>
</div>