<div class="bd-toc-item bg-fff tags">
  <a class="bd-toc-link" href="#">tags</a>
  <div class=" d-flex flex-wrap wrap_post_top">
    <div class="media media-aside mr-2 bg-tag">
      <div class="media-body">
        <a href="#"><span class="tag">C#</span></a>
      </div>
    </div>
    <div class="media media-aside mr-2 bg-tag">
      <div class="media-body">
        <a href="#"><span class="tag">Go</span></a>
      </div>
    </div>
    <div class="media media-aside mr-2 bg-tag">
      <div class="media-body">
        <a href="#"><span class="tag">Ruby</span></a>
      </div>
    </div>
    <div class="media media-aside mr-2 bg-tag">
      <div class="media-body">
        <a href="#"><span class="tag">PHP</span></a>
      </div>
    </div>
    <div class="media media-aside mr-2 bg-tag">
      <div class="media-body">
        <a href="#"><span class="tag">Rails</span></a>
      </div>
    </div>
    <div class="media media-aside mr-2 bg-tag">
      <div class="media-body">
        <a href="#"><span class="tag">Laravel</span></a>
      </div>
    </div>
    <div class="media media-aside mr-2 bg-tag">
      <div class="media-body">
        <a href="#"><span class="tag">HTML</span></a>
      </div>
    </div>
    <div class="media media-aside mr-2 bg-tag">
      <div class="media-body">
        <a href="#"><span class="tag">Postgres</span></a>
      </div>
    </div>
    <div class="media media-aside mr-2 bg-tag">
      <div class="media-body">
        <a href="#"><span class="tag">Gulp</span></a>
      </div>
    </div>
    <div class="media media-aside mr-2 bg-tag">
      <div class="media-body">
        <a href="#"><span class="tag">Java</span></a>
      </div>
    </div>
    <div class="media media-aside mr-2 bg-tag">
      <div class="media-body">
        <a href="#"><span class="tag">Java Script</span></a>
      </div>
    </div>
    <div class="media media-aside mr-2 bg-tag">
      <div class="media-body">
        <a href="#"><span class="tag">R</span></a>
      </div>
    </div>

  </div>
</div>