<div class="bd-toc-item bg-fff twıtter">
  <a class="bd-toc-link" href="#">recent Posts</a>
  <div class=" d-flex flex-column wrap_post_top">
    <div class="media media-aside pt-2">
      <div class="media-body">
        <p class="mt-0"><span>Violet:</span>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
        <a href="#">www.google.com</a>

      </div>
    </div>
    <div class="media media-aside pt-2">
      <div class="media-body">
        <p class="mt-0"><span>Violet:</span>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
        <a href="#">www.google.com</a>

      </div>
    </div>
    <div class="media media-aside pt-2">
      <div class="media-body">
        <p class="mt-0"><span>Violet:</span>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
        <a href="#">www.google.com</a>

      </div>
    </div>
    <div class="media media-aside pt-2">
      <div class="media-body">
        <p class="mt-0"><span>Violet:</span>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
        <a href="#">www.google.com</a>

      </div>
    </div>
  </div>
</div>